html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
}


.main-bg {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgb(255, 255, 255));
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}

.inner-container {
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
}

.main-heading h1 {
    margin: 0;
    padding: 1% 0 1% 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70px;
}

nav {
    width: 90%;
    margin: 0 5% 0 5%;
}

.button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 16.2%;
    color: white;
    font-size: 1.5em;
    margin-top: 1.5%;
}

.button:hover {
    color: rgb(255, 196, 0);
}