/*
Button collor- rgb(255, 196, 0)
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
}


.main-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../Photos/IMG_3319.JPG);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}

.inner-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
}

.main-heading h1 {
    margin: 0;
    padding: 1% 0 1% 0;
    color: white;
    font-size: 50px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70px;
}

nav {
    width: 90%;
    margin: 0 5% 0 5%;
}

.button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 16.2%;
    color: white;
    font-size: 1.5em;
    margin-top: 1.5%;
}

.button:hover {
    color: rgb(255, 196, 0);
}

.info-box {
    width: 50%;
    margin-top: 20%;
    color: white;
}

.info-box h2 {
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 2em;
    font-weight: 100;
}

.info-box p {
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 2.5em;
    font-weight: 400;
}

.info-box .button {
    text-align: center;
    width: 30%;
    background-color: rgb(255, 196, 0);
    padding: 2%;
}